@*<script src="~/Scripts/prj/DeptoFno.js"></script>*@
<script src="~/Scripts/prj/Emp.js"></script>
@using Dou.Misc.Extension
@Html.MenuMap()
@Html.DataManagerOptionsJavascript(null, "douoptions")

<div id="_tabs">
    <table id="_table" style="font-size:0.5rem"></table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        douoptions.tableOptions.pageList = [10, 25, 50, 1000, 'All'];

        //$("#_table").DouEditableTable(douoptions); //初始dou table
    });
</script>
