<?xml version="1.0"?>
<ArrayOfMenuDefAttribute xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <MenuDefAttribute>
    <Name>員工個人資料</Name>
    <MenuPath />
    <Index>60</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>ALL</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <Target>false</Target>
    <ActionController>EmpUser</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>員工個人資料</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>總表</Name>
    <MenuPath>員工基本資料</MenuPath>
    <Index>70</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>ALL</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <Target>false</Target>
    <ActionController>Emp</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>員工基本資料.總表</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>職級</Name>
    <MenuPath>員工基本資料</MenuPath>
    <Index>71</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>ALL</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <Target>false</Target>
    <ActionController>Grade</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>員工基本資料.職級</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>部門</Name>
    <MenuPath>員工基本資料</MenuPath>
    <Index>72</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>ALL</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <Target>false</Target>
    <ActionController>Dep</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>員工基本資料.部門</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>職等</Name>
    <MenuPath>員工基本資料</MenuPath>
    <Index>73</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>ALL</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <Target>false</Target>
    <ActionController>Title</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>員工基本資料.職等</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>縣市</Name>
    <MenuPath>員工基本資料</MenuPath>
    <Index>74</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>ALL</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <Target>false</Target>
    <ActionController>Country</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>員工基本資料.縣市</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>人力分布</Name>
    <MenuPath>員工基本資料</MenuPath>
    <Index>75</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>ALL</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <Target>false</Target>
    <ActionController>MP</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>員工基本資料.人力分布</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>專案</Name>
    <MenuPath>員工基本資料</MenuPath>
    <Index>76</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>ALL</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <Target>false</Target>
    <ActionController>Pj</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>員工基本資料.專案</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>專案對應</Name>
    <MenuPath>員工基本資料</MenuPath>
    <Index>77</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>ALL</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <Target>false</Target>
    <ActionController>Pjm</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>員工基本資料.專案對應</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>使用者管理</Name>
    <MenuPath>系統管理</MenuPath>
    <Index>90</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>ALL</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <Target>false</Target>
    <ActionController>User</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>系統管理.使用者管理</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>角色管理</Name>
    <MenuPath>系統管理</MenuPath>
    <Index>91</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>ALL</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <Target>false</Target>
    <ActionController>Role</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>系統管理.角色管理</Id>
  </MenuDefAttribute>
  <MenuDefAttribute>
    <Name>記錄查詢</Name>
    <MenuPath>系統管理</MenuPath>
    <Index>92</Index>
    <AllowAnonymous>false</AllowAnonymous>
    <Func>Delete</Func>
    <IsOnlyPath>false</IsOnlyPath>
    <IsPromptUI>false</IsPromptUI>
    <Target>false</Target>
    <ActionController>Logger</ActionController>
    <Action>Index</Action>
    <ExportCSV>false</ExportCSV>
    <Id>系統管理.記錄查詢</Id>
  </MenuDefAttribute>
</ArrayOfMenuDefAttribute>